<!DOCTYPE html>
<html>
  <head>
    <title>CampAway</title>
    <%# <link rel="icon" 
      type="image/png" 
      href="http://example.com/myicon.png"> %>
    <link rel="icon" href="favicon.png" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link href="https://fonts.googleapis.com/css?family=Staatliches&display=swap" rel="stylesheet">
    <%# <link rel="stylesheet" href="animate.min.css"> %>
    <%= javascript_include_tag 'application' %>
    <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAPjYkDq0-iiCd6W5-qCw46J-r0EW39L1U&libraries=places"></script> -->
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials.google[:api_key] %>&libraries=places"></script>

    
  </head>

  <body>
    <%= yield %>
  </body>
</html>
